<nav>
  <!-- Conditionally render login or logout links -->
  {{#if logged_in}}
    <a href="/myPage">My Page</a>
    |
    <button class="no-button" id="logout">logout</button>
  {{else}}
    <a href="/login">login</a>
  {{/if}}
</nav>