  <form>
    <div id="searchArea">
      <label for="recipeSearch">Search for a Recipe</label>
      <input
        type="text"
        class="recipeQuery"
        id="recipeSearch"
        placeholder="Search for a Recipe"
      />
      <input
        type="checkbox"
        id="vegetarian"
        name="vegetarian"
        value="Vegetarian"
      />
      <label for="vegetarian"> Want vegetarian meals?</label>
      <br />
      <input type="checkbox" id="vegan" name="vegan" value="Vegan" />
      <label for="vegan"> Want vegan meals?</label>
      <br />
      <input
        type="checkbox"
        id="glutenFree"
        name="glutenFree"
        value="GlutenFree"
      />
      <label for="glutenFree"> Want gluten-free meals?</label>
      <input
        type="checkbox"
        id="dairyFree"
        name="dairyFree"
        value="DairyFree"
      />
      <label for="DairyFree"> Want dairy-free meals?</label>

      <button type="button" id="searchBtn" value="Search">
        Search
      </button>
    </div>
  </form>;

  <script>
    src="./public/js/recipeSearch.js"
  </script>
