<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chicken Boolean</title>
  {{!-- <link rel="stylesheet" href="/css/jass.css"> --}} 
  {{!-- <link rel="stylesheet" href="/css/style.css"> --}}
</head>

<body>
  {{!-- Need to add style to this section, just place holder right now --}}
  <div class="flex-column justify-space-around">
    
    {{!-- Need to add style to this section, just place holder right now --}}
    <header class="display-flex justify-space-between align-center p-2">
      {{!-- Need image source for logo --}}
      <img src="" alt="Chicken Boolean logo">
      <h1>
        <a href="/">Chicken Boolean</a>
      </h1>
    </header>

    {{!-- Need to add style to this section, just place holder right now --}}
    <main class="container container-fluid mt-5"> 
      <!-- Render the sub layout -->
      {{!--  Will change based off what view they are logged in  --}}
      {{{ body }}}
      
    </main>

    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>