<div class="container row">
    <div class="col card w-80 m-3" id="missionCard">
      <h2 class="card-title">Chicken Boolean Mission</h2>
      <div class="container card-body border-dark border-2" id="mission">
        <p>Here at Chicken Boolean, we know having the same meal day in and day
          out can get old. So we make it easy for you to add some variety in your
          daily meals.</p>
        <p>By using our state of the art search engine, you can find the right meal
          that you desire. Find something you like but don't want to try right now,
          then save it in your personal account to easily access later.</p>
      </div>
    </div>
</div>
<script src="js/search.js"></script>
