{{! Place mission and search recipe area here }}
<div id="missionCard">
  <h2>Chicken Boolean Mission</h2>
  <p class>Here at Chicken Boolean, we know having the same meal day in and day
    out can get old. So we make it easy for you to add some variety in your
    daily meals.</p>
  <P>By using our state of the art search engine, you can find the right meal
    that you desire. Find something you like but don't want to try right now,
    then save it in your personal account to easily access later.</P>
</div>
<div id="searchCard">

  {{> searchRecipe}}
  {{#if recipes}}
  <ul class="recipe_list">
    {{#each recipes as |recipe|}}
      <li>{{recipe.title}}
        {{!-- create save button button, find icon details --}}
        <button class="button saveBtn">Icon</button>
      </li>
    {{/each}}
  </ul>
    {{else}}No Search Results{{/if}}

</div>