<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mylogin</title>
</head>
<body>
  <header>
    
   <section  class="welcome">
        <div class="flex-row">
            <h2 class="section-title secondary-border">
                Welcome !
            </h2>
        </div>
          
    <div class="saved-recipe-form">
      <h3>Your Saved Recipes</h3>
    
  <label for="recipe"></label>
      <input type="text" placeholder="recipe" name="name" id="name" class="form-input">

      <label for="recipe"></label>
      <input type="text" placeholder="recipe" name="recipe" id="recipe" class="form-input">
 <label for="recipe"></label>
      <input type="text" placeholder="recipe" name="recipe" id="recipe" class="form-input">
     <label for="recipe"></label>
      <input type="text" placeholder="recipe" name="recipe" id="recipe" class="form-input">
     <button type="submit">
        Find Recipe
      </button>
      
      
      /h2>
     
</body>
</html>