  <div class="col card w-80 m-3" id="searchCard">
    <h2 class="card-title">Search for Recipes</h2>
    <div class="card-body">
      {{> searchRecipe}}
      <ul class="list-group list-group-flush border-dark border-2" id="recipe_list">

      </ul>
    </div>
  </div>
  <script src="js/search.js"></script>